.container_sobre {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: 32px;
}

.titulo_sobre h1 {
    font-size: 48px;
    margin-bottom: 8px;
    color: #3f3e3e;
}

.titulo_sobre h2 {
    font-size: 18px;
    font-weight: 400;
    color: #3f3e3e;

}

.container_card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-wrap: wrap;
    grid-gap: 20px;

}

@media screen and (max-width: 750px) {
    .container_card {
        grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
    }

    .titulo_sobre h1 {
        font-size: 2em;
    }

    .titulo_sobre h2 {
        font-size: 1em;
    }
}