.container_conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 48px;
    margin-top: 32px;
}

.container_conteudo__principal {
    width: 40%;
    padding: 16px;
    margin-bottom: 8px;
}

.container_conteudo__principal h1 {
    font-size: 4em;
    margin-bottom: 8px;
    color: #807F7F;
}

.container_conteudo__principal p {
    text-align: justify;
    margin-bottom: 32px;
    color: #3f3e3e;
}

.container_conteudo__principal span {
    color: #370D95;
}

.container_conteudo__secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.botoes_cabecalho__home {
    display: flex;
    gap: 16px;
    color: #fff;
    text-align: center;
}

.botoes_cabecalho__home a {
    text-decoration: none;
    color: #fff;
}

.botao_login__home {
    width: 260px;
    font-size: 24px;
    font-weight: 700;
    padding: 16px;
    border-radius: 8px;    
    background-color: #370D95;
}

.botao_cadastro__home {
    width: 260px;
    font-size: 24px;
    font-weight: 700;
    padding: 12px;
    border-radius: 8px;
    border: 4px solid #370D95;
}
.botao_cadastro__home a{
    color: #3f3e3e;
}
.sobre{
    display: block;
    margin-top: 200px;
}
@media screen and (max-width: 750px) {
    .container_conteudo{
        padding: 0;
    }
    .container_conteudo__principal {
        width: 90%;
        order: 2;
        padding: 0;
        margin-top: 0;
    }

    .container_conteudo__principal h1 {
        font-size: 2em;
    }
    .container_conteudo__principal p{
        text-align: justify;
    }
    .botoes_cabecalho__home {
        flex-direction: column;
    }

    .botao_login__home,
    .botao_cadastro__home {
        width: 90%;
    }

    .container_conteudo__secundario {
        padding: 0;
        order: 1;
        margin-bottom:0;
    }

    .container_conteudo__secundario img {
        width: 90%;
        margin-top: 16px;
    }
    .sobre{
        margin-top: 8px;
        order: 3;
    }
    .sobre h1{
        text-align: left;
        
    }
    .sobre h2{
        text-align: justify;
    }
}