@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

.cabecalho {
   padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #aaa5a563;
}

.cabecalho h1 {
    display: block;
    font-size: 22px;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cabecalho_menu{
    display: flex;
    gap: 16px;
    font-size: 16px;
}
.cabecalho_menu a{
    display: block;
    text-decoration: none;
    color: #000;
}

.botoes_cabecalho{
    display: flex;
    gap: 8px;
    color: #fff;
    text-align: center;
}
.botoes_cabecalho a{
    text-decoration: none;
    color: #fff;
}
.botao_login{
    font-size: 16px;
    padding: 8px;
    width: 120px;
    border-radius: 8px;
    background-color: #370D95;
}
.botao_cadastro{
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    width: 120px;
    border-radius: 8px;
    background-color: #370D95;
}

@media screen and (max-width: 600px) {
    .cabecalho h1{
        font-size: 22px;
        width: 100%;
        text-align: center;
    }
    .botao_cadastro, .botao_login, .cabecalho_menu{
        display: none;
    }
}