.formulario-cadastro {
    margin: 5% auto;
    color: #3f3e3e;
    background: #d5adfc8c;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.174);
    border-radius: 32px;
    width: 40vw;
    border-radius: 24px;
}

.cabecalho_formulario {
    padding: 8px 32px;

}

.formulario-cadastro h1 {
    font-size: 32px;
    margin-bottom: 8px;
}

.container_botao__cadastro {
    text-align: center;
    width: 100%;
    height: 100px;

}

@media screen and (max-width: 750px) {
    .formulario-cadastro {
        min-width: 90%;
    }

    .cabecalho_formulario {
        padding: 8px 16px;
    }
}