.container{
    margin: 24px 0;

}
.container label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}
.container input{
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.06);
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 22px;
    box-sizing: border-box;
    border-radius: 8px;
}
