@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

.cabecalho {
    width: 90vw;
    padding: 8px 64px;
    display: flex;
    flex-grow: 3;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #aaa5a563;
}

.cabecalho h1 {
    font-size: 24px;
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cabecalho_menu {
    display: flex;
    gap: 16px;
    font-size: 16px;
}

.cabecalho_menu a {
    text-decoration: none;
    color: #3f3e3e;
}

.botoes_cabecalho {
    display: flex;
    gap: 8px;
    color: #fff;
    text-align: center;
}

.botoes_cabecalho a {
    text-decoration: none;
    color: #fff;
}

.botao_login {
    font-size: 16px;
    padding: 12px;
    width: 120px;
    border-radius: 8px;
    background-color: #370D95;
}

.botao_cadastro {
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    width: 120px;
    border-radius: 8px;
    border: 4px solid #370D95;
}

.botao_cadastro a {
    color: #3f3e3e;
}

@media screen and (max-width: 750px) {
    .cabecalho h1 {
        font-size: 22px;
        width: 100%;
        text-align: center;
    }

    .botao_cadastro,
    .botao_login,
    .cabecalho_menu {
        display: none;
    }
}